
@font-face {
  font-family: 'NeueHaasGroteskTextPro-Italic';
  src: url('NeueHaasGroteskTextPro-Italic.eot?#iefix') format('embedded-opentype'),  url('NeueHaasGroteskTextPro-Italic.woff') format('woff'), url('NeueHaasGroteskTextPro-Italic.ttf')  format('truetype'), url('NeueHaasGroteskTextPro-Italic.svg#NeueHaasGroteskTextPro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
