
@font-face {
  font-family: 'SitkaSmall';
  src: url('SitkaSmall.eot?#iefix') format('embedded-opentype'),  url('SitkaSmall.woff') format('woff'), url('SitkaSmall.ttf')  format('truetype'), url('SitkaSmall.svg#SitkaSmall') format('svg');
  font-weight: normal;
  font-style: normal;
}
