
@font-face {
  font-family: 'SitkaSmall-Bold';
  src: url('SitkaSmall-Bold.eot?#iefix') format('embedded-opentype'),  url('SitkaSmall-Bold.woff') format('woff'), url('SitkaSmall-Bold.ttf')  format('truetype'), url('SitkaSmall-Bold.svg#SitkaSmall-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
