
@font-face {
  font-family: 'NeueHaasGroteskTextPro-Bold';
  src: url('NeueHaasGroteskTextPro-Bold.eot?#iefix') format('embedded-opentype'),  url('NeueHaasGroteskTextPro-Bold.woff') format('woff'), url('NeueHaasGroteskTextPro-Bold.ttf')  format('truetype'), url('NeueHaasGroteskTextPro-Bold.svg#NeueHaasGroteskTextPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
