
@font-face {
  font-family: 'NeueHaasGroteskTextPro';
  src: url('NeueHaasGroteskTextPro.eot?#iefix') format('embedded-opentype'),  url('NeueHaasGroteskTextPro.woff') format('woff'), url('NeueHaasGroteskTextPro.ttf')  format('truetype'), url('NeueHaasGroteskTextPro.svg#NeueHaasGroteskTextPro') format('svg');
  font-weight: normal;
  font-style: normal;
}
