@media only screen and (max-width: 1930px) {
  .container {
    padding: 0 15px;
  }
  .help-sec ul {
    margin: 0px;
  }
  .testi-sec ul {
    margin: 0px;
  }
  .coading-right {
    width: 54%;
    margin: 60px 0 0 -222px;
  }
  .mission-sec p:before {
    left: 6.5%;
  }
  .footer-top-in ul {
    margin: 0;
  }
  .footer-top-in ul li {
    padding: 0 0px 4px;
  }
  .coading-right {
    padding-left: 60px;
  }
}
@media only screen and (max-width: 1289px) {
  .coading-right {
    margin: 50px 0 0 -222px;
    padding: 25px 0 0 0;
  }
  .coading-right h1 {
    font-size: 70px;
    line-height: 75px;
  }
  .social-in-left ul li {
    padding: 0 0 25px 0;
  }
  .mission-sec p {
    font-size: 38px;
  }
  .testi-in {
    padding: 50px 20px;
  }
  .invest-sec-right {
    width: 59%;
  }
  nav ul li {
    padding: 0 19px;
  }
}

@media only screen and (min-width: 1349px) {
  .invest-sec {
    padding: 0 60px;
  }
  .mission-sec {
    padding: 0 200px;
  }
  .social-sec {
    padding: 0 50px;
  }
  .navbar {
    padding: 0 290px 0 320px;
  }
  .coading {
    padding: 0 200px;
  }
  .coading-left {
    padding-left: 50px;
  }
  .help-sec {
    padding: 0 50px;
  }
}

@media only screen and (max-width: 1149px) {
  .header-right {
    width: 77%;
  }
  nav ul li {
    padding: 0 15px;
  }
  nav {
    width: 88%;
    position: absolute;
    right: 10;
  }
  .login {
    width: 11.3%;
  }
  .coading-right h1 {
    font-size: 57px;
    line-height: 67px;
  }
  .coading-right {
    margin: 30px 0 0 -180px;
    width: 50%;
  }
  .coading-left a {
    padding: 0 0 0 30px;
  }
  .help-sec > p {
    font-size: 19px;
    padding: 0 0 20px 0;
  }
  .help-sec h2 {
    font-size: 53px;
  }
  .help-sec ul {
    padding: 40px 0 0 0;
  }
  .help {
    padding: 70px 0 50px 0;
  }
  .teach {
    padding: 27px 0 25px 0 !important;
  }
  .social {
    padding: 40px 0 0 0;
  }
  .social-sec p {
    font-size: 19px;
    padding: 0 0 25px 0;
  }
  .social-sec h2 {
    font-size: 53px;
  }
  .social-in-left ul li p {
    font-size: 16px;
    line-height: 23px;
    padding: 10px 0 0 0;
  }
  .social-in-left ul li {
    padding: 0 0 20px 0;
  }
  .mission-sec p {
    font-size: 35px;
  }
  .mission-sec p:before {
    left: 3.5%;
    top: 1%;
  }
  .testi-sec h2 {
    font-size: 53px;
  }
  .testi-sec > p {
    font-size: 19px;
    padding: 0 0 25px 0;
  }
  .testi-in {
    padding: 40px 15px;
  }
  form ul li {
    width: 37.93%;
  }
  .sign {
    width: 24.03%;
  }
  .invest-sec-right span {
    font-size: 23px;
    line-height: 30px;
    padding: 15px 0 20px 0;
  }
  .invest-sec-right h2 {
    font-size: 49px;
    line-height: 55px;
  }
  .online-sec h3 {
    font-size: 35px;
    line-height: 42px;
    word-spacing: 0px;
    padding: 0 15px 15px;
  }
  .online-sec p {
    font-size: 26px;
    padding: 0 0 20px 0;
  }
  .address > a {
    font-size: 35px;
  }
  .testi-sec ul li {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 991px) {
  .header-right {
    display: none;
  }
  .coading-left a {
    padding: 0;
  }
  .social-in-left {
    width: 100%;
    float: none;
  }
  .social-in-right {
    width: 100%;
    float: none;
    text-align: center;
    padding: 20px 0 0 0;
  }
  .social-in-left ul li p {
    font-size: 18px;
    line-height: 27px;
    padding: 15px 0 0 0;
  }
  .social-in-left ul li {
    padding: 0 0 25px 0;
  }
  .social-in-right a {
    display: inline-block;
  }
  .mission-sec p:before {
    left: 1%;
    top: -3%;
  }
  .mission-sec p {
    font-size: 29px;
    line-height: 40px;
  }
  .invest-sec-left {
    width: 100%;
    float: none;
    text-align: center;
  }
  .invest-sec-right {
    width: 100%;
    float: none;
    padding: 50px 0px 50px 30px;
  }
  .invest-sec-left a {
    display: inline-block;
  }
  .sign {
    width: 19.03%;
  }
  .online-sec h3 {
    font-size: 26px;
    line-height: 35px;
    padding: 0 0 10px 0;
  }
  .online-sec p {
    font-size: 21px;
    padding: 0 0 10px 0;
  }
  .online {
    padding: 70px 0;
  }
  .address.links ul li a {
    font-size: 13px;
    line-height: 22px;
  }
  .address > a {
    font-size: 25px;
    line-height: 35px;
  }
  .address p a {
    font-size: 12px;
  }
  .address p {
    font-size: 12px;
  }
  .address address {
    font-size: 13px;
    line-height: 24px;
  }
  .help-in p span {
    font-size: 16px;
  }
  .help-in p {
    font-size: 12px;
  }
  .testi-in > p {
    font-size: 13px;
    line-height: 20px;
  }
  .testi-sec ul li {
    padding: 0 7px;
  }
  .testi-in {
    padding: 30px 10px;
  }
  .testi-sec ul li:before {
    top: 3%;
    left: 8%;
  }
  .coading-right p {
    font-size: 22px;
    line-height: 30px;
    padding: 0 0 5px 12px;
  }
  .coading-right {
    margin: 25px 0 0 -152px;
    width: 51%;
  }
  .coading-right h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .talk {
    width: 250px;
  }
  .talk ul {
    margin: 0 -10px;
  }
  .talk ul li a {
    font-size: 13px;
    padding: 7px 15px;
  }
  .talk ul li {
    padding: 0px 5px;
  }
  .talk ul {
    margin: 0 -5px;
  }
  .menu-icon {
    display: block;
    float: right;
    background: none;
    border: 0 none;
    outline: none;
    margin: 27px 20px 0 0;
    cursor: pointer;
    position: relative;
  }
  .menu-icon span {
    position: relative;
    right: 0;
    width: 35px;
    height: 3px;
    background: #000000;
    display: block;
  }
  .menu-icon span + span {
    margin: 6px 0 0 0;
  }
  .side-bar {
    display: block;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -250px;
    background: #e2f6ff;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }
  .side-bar .header-right {
    float: none;
    display: block !important;
    margin: 0;
    width: 100%;
  }
  .wrapper {
    position: relative;
    left: 0;
    width: 100%;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }
  .open-menu .side-bar {
    right: 0;
  }
  .open-menu .wrapper {
    left: -250px;
    position: fixed;
  }
  .open-menu .menu-icon span:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
  }
  .open-menu .menu-icon span:nth-child(2) {
    opacity: 0;
  }
  .open-menu .menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
    top: -9px;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    font-size: 16px;
    line-height: 35px;
    color: #0b0b0b;
    padding: 0 15px;
    display: block;
    width: 100%;
  }
  .login a {
    font-size: 16px;
    color: #0b0b0b;
  }
  .login {
    float: none;
    width: 35%;
    margin: 9px 0 0 28px;
  }
  nav {
    float: none;
    width: 100%;
  }
  .coading {
    padding: 30px 0 0 0;
  }
  .logo {
    width: 23%;
  }
}
@media only screen and (max-width: 767px) {
  .coading-left {
    width: 100%;
    float: none;
  }
  .coading-right {
    width: 100%;
    float: none;
    margin: 0;
    text-align: center;
  }
  .coading-right h1 {
    font-size: 50px;
    line-height: 55px;
  }
  .coading {
    padding: 30px 0 35px 0;
  }
  .help-sec ul li {
    width: 100%;
    float: none;
    padding: 0 15px 30px;
  }
  .help-in p {
    font-size: 16px;
    line-height: 25px;
    padding: 0 25px;
  }
  .help-in p span {
    font-size: 20px;
  }
  .social-sec h2 {
    font-size: 43px;
    padding: 0 0 15px 0;
    line-height: 50px;
  }
  .mission-sec p:before {
    left: 0%;
    top: 0%;
    background-size: 20px 20px;
  }
  .mission-sec p {
    font-size: 21px;
    line-height: 31px;
    letter-spacing: -1px;
  }
  .help-sec h2 {
    font-size: 43px;
    letter-spacing: -1.9px;
    line-height: 50px;
  }
  .testi-sec h2 {
    font-size: 43px;
    letter-spacing: -1px;
    line-height: 50px;
  }
  .testi-sec ul li {
    width: 100%;
    float: none;
    padding: 0 0 30px 0;
  }
  .testi-sec ul {
    padding: 30px 0 43px 0;
  }
  .testi-in {
    padding: 50px 50px;
  }
  .testi-in > p {
    font-size: 16px;
    line-height: 25px;
  }
  .testi-sec ul li:before {
    top: 6%;
  }
  .invest-sec-right {
    padding: 50px 0px 50px 0px;
  }
  form ul li {
    width: 39.93%;
  }
  form ul li a {
    padding: 13.3px 17px;
  }
  .invest-sec-right h2 {
    font-size: 43px;
    line-height: 50px;
  }
  .footer-top-in > ul > li {
    width: 100%;
    float: none;
    padding: 0 0 25px 0px;
  }
  .online-sec a {
    padding: 11.3px 16px;
    width: 137px;
    font-size: 17px;
  }
  .online-sec h3 {
    font-size: 20px;
    line-height: 28px;
    padding: 0 0 5px 0;
    letter-spacing: -0.8px;
  }
  .online-sec p {
    font-size: 19px;
    padding: 0 0 8px 0;
  }
  .address.links ul {
    padding: 0;
  }
  .address address {
    font-size: 16px;
    line-height: 27px;
  }
  .address p {
    font-size: 16px;
  }
  .address.links ul li a {
    font-size: 15px;
    line-height: 22px;
  }
  .address p a {
    font-size: 16px;
  }
  .address h4 {
    padding: 0 0 10px 0;
  }
  .logo {
    width: 30%;
  }
  .menu-icon {
    margin: 27px 20px 0 0;
  }
  form ul li {
    width: 100%;
    float: none;
    padding: 0 0 20px 0;
  }
  form ul li input {
    width: 100%;
  }

  .coading-right {
    padding-left: 0;
  }
}
@media only screen and (max-width: 599px) {
  .logo {
    width: 35%;
  }
  .social-sec h2 {
    font-size: 37px;
    line-height: 44px;
  }
  social-in {
    padding: 25px 0 40px 0;
  }
  .social-sec p {
    font-size: 17px;
    padding: 0 0 20px 0;
  }
  .social-in-left ul li h3 {
    font-size: 26px;
    line-height: 19px;
  }
  .social-in-left ul li p {
    font-size: 16px;
    line-height: 24px;
  }
  .help-sec > p {
    font-size: 17px;
    padding: 0 0 15px 0;
  }
  .help-sec h2 {
    font-size: 40px;
  }
  .online-sec p {
    font-size: 16px;
    line-height: 24px;
  }
  .online-sec h3 {
    font-size: 16px;
    line-height: 26px;
  }
  .mission-sec p {
    font-size: 16px;
    line-height: 26px;
  }
  .mission-sec p:before {
    left: 2%;
    top: -2%;
    background-size: 19px 18px;
  }
  .testi-sec > p {
    font-size: 17px;
    padding: 0 0 15px 0;
  }
  .sign {
    width: 27.03%;
  }
  form ul li input {
    width: 100%;
  }
  .invest-sec-right span {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 20px 0;
  }
  .invest-sec-right h2 {
    font-size: 35px;
    line-height: 43px;
  }
  .menu-icon {
    margin: 24px 20px 0 0;
  }
}
@media only screen and (max-width: 479px) {
  .footer-bottom-in p {
    font-size: 11px;
    line-height: 14px;
  }
  .invest-sec-right span {
    font-size: 15px;
    line-height: 20px;
    padding: 5px 0 17px 0;
  }
  .invest-sec-right h2 {
    font-size: 22px;
    line-height: 27px;
  }
  .sign {
    width: 35.03%;
  }
  form ul li a {
    font-size: 16px;
    padding: 10px 17px;
  }
  .online-sec p {
    font-size: 13px;
    line-height: 19px;
  }
  .online-sec a {
    padding: 10px 16px;
    width: 118px;
    font-size: 14px;
  }
  .testi-in {
    padding: 20px 13px;
  }
  .testi-sec ul li:before {
    top: 4%;
    left: 6%;
  }
  .testi-in > p {
    font-size: 15px;
    line-height: 21px;
  }
  .address p a {
    font-size: 14px;
  }
  .address p {
    font-size: 14px;
  }
  .social-in-left ul li p {
    font-size: 15px;
    line-height: 22px;
  }
  .mission-sec p {
    font-size: 18px;
    line-height: 26px;
  }
  .mission-sec p:before {
    left: 0%;
    top: 4%;
    background-size: 12px 10px;
  }
  .testi-sec > p {
    font-size: 15px;
    padding: 0 0 10px 0;
  }
  .testi-sec h2 {
    font-size: 39px;
    letter-spacing: -1px;
    line-height: 44px;
  }
  .menu-icon {
    margin: 16px 0px 0 0;
  }
  .help-in p {
    padding: 0;
  }
  .social-sec h2 {
    font-size: 33px;
    line-height: 40px;
  }
  .help-sec > p {
    font-size: 16px;
    padding: 0 0 5px 0;
  }
  .help-sec h2 {
    font-size: 38px;
    line-height: 42px;
  }
  .social-sec p {
    font-size: 16px;
    padding: 0 0 10px 0;
  }
  .coading-right p {
    font-size: 16px;
    line-height: 20px;
    padding: 0 0 5px 0px;
  }
  .coading-right h1 {
    font-size: 33px;
    line-height: 40px;
  }
  .talk {
    width: 180px;
    padding: 0 0 0 0px;
  }
  .talk ul li a {
    font-size: 11px;
    padding: 7px 8px;
    line-height: 15px;
  }
  .logo {
    width: 42%;
  }
}
