
@font-face {
  font-family: 'NeueHaasGroteskTextPro-Medium';
  src: url('NeueHaasGroteskTextPro-Medium.eot?#iefix') format('embedded-opentype'),  url('NeueHaasGroteskTextPro-Medium.woff') format('woff'), url('NeueHaasGroteskTextPro-Medium.ttf')  format('truetype'), url('NeueHaasGroteskTextPro-Medium.svg#NeueHaasGroteskTextPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
